<div class="row">
  <div class="three columns">
    &nbsp;
  </div>

<div class="six columns">
<section>
  <h1>Patient List</h1>
  <hr>
  <ul>
    <li ng-repeat="patient in patientsIndex.all">
      <a class="listCss" ui-sref="patientsShow({ id: patient.id })">
      <h6>Patient No.: {{ patient.patient_no }}</h6>
      <h6>First Name: {{ patient.first_name }}</h6>
      <h6>Last Name:{{ patient.last_name }}</h6>
      <h6>Diagnosis: {{ patient.diagnosis }}</h6>
    </a>
    <hr>
    </li>
  </ul>
</section>

<button class="u-full-width button-primary" ui-sref="home">Back</button>
</div>

  <div class="three columns">
    &nbsp;
  </div>
</div>