
<div class="row">
  <div class="four columns">
    &nbsp;
  </div>

  <div class="four columns loginPage">
    <h1>Welcome</h1> <h3> <h4>{{ usersShow.user.username }}</h4></h3>
    <section>
        <button class="u-full-width button-primary" ui-sref="usersShow({ id: main.currentUserId })" >My Profile</button>
        <button class="u-full-width button-primary" ui-sref="patientsIndex">Find Patient</button>
        <button class="u-full-width button-primary" ui-sref="patientsNew">Add Patient</button>

    </section>
  </div>
  <div class="four columns">
    &nbsp;
  </div>
</div>
