
<div class="row">
  <div class="three columns">
    &nbsp;
  </div>

  <div class="six columns">
    <h1>patient Info</h1>

  <h4>Patient no.:{{ patientsShow.patient.patient_no }}</h4>
  <h4>First Name:{{ patientsShow.patient.first_name }}</h4>
  <h4>Last Name:{{ patientsShow.patient.last_name }}</h4>
  <h4>Diagnosis: {{ patientsShow.patient.diagnosis }}</h4>

  <h4>Pocs:{{ patientsShow.patient.pocs }}</h4>
  <h4>Assessments:{{ patientsShow.patient.assessments }}</h4>
  <h4>Carers:{{ patientsShow.patient.users }}</h4>

  <button class="u-full-width button-primary" ui-sref="patientsIndex">Back</button>
  </div>

   <div class="three columns">
    &nbsp;
  </div>

</div>