 <div class="three columns">
    &nbsp;
  </div>

<div class="six columns">
  <h1>My Profile</h1>
  <h4>{{ usersShow.user.username }}</h4>
  <h4>{{ usersShow.user.email }}</h4>

  <h4>Patients in Care</h4>
  <p>Total patients in my care: {{ usersShow.user.patients.length}} </p>
  <hr>
  <ul>
    <li ng-repeat="patient in usersShow.user.patients">
      <a class="listCss" ui-sref="patientsShow({ id: patient.id })">
        <h6>Patient No.: {{ patient.patient_no }}</h6>
        <h6>First Name: {{ patient.first_name }}</h6>
        <h6>Last Name:{{ patient.last_name }}</h6>
      </a>
      <button class="u-full-width button-primary" ui-sref="pocsIndex">add POC for patient</a>
      <button class="u-full-width button-primary" ui-sref="assessmentsIndex">add Assessment for patient</a>
      <button class="u-full-width button-primary" ng-click="usersShow.removePatient()">Remove patient from care</a>
      <button class="u-full-width button-primary" ng-click="usersShow.getPatient()">Get Patient info</a>
      <hr>
    </li>
  </ul>

  <button class="u-full-width button-primary" ui-sref="home">Homepage</a>
  <button ng-if="main.isLoggedIn()" class="u-full-width button-primary" ui-sref="patientsSearch">Search for Patient</button>
  <button ng-if="main.isLoggedIn()" class="u-full-width button-primary" ui-sref="patientsNew">Add Patient</button>
</div>

 <div class="three columns">
    &nbsp;
  </div>
