@import 'vendor';
@import 'variables';

// nav bar css

ul#NhsUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 2px solid $nhs-blue;

  img#NhsLogo {
    float: left;
  }

  li {
    float: right;
    line-height: 80px;
    height: 20px;
      &#navbarNhsTitle{
        float: left;
        font-size: 40px;
        line-height: 55px;
        color: $nhs-blue;
      }

    a {
      display: inline-block;
      color: $nhs-blue;
      text-align: center;
      padding-right: 16px;
      text-decoration: none;
      transition: 0.3s;
      font-size: 17px;
    }
  }
}

// body

body {
  background-color: #ffffff;
}

// angular ul li css

ul {
  text-decoration: none;
  list-style-type: none;
  li {
    a{
       text-decoration: none;
       color:black;
      }
    }
  }





.loginPage {
  text-align: center;
  margin-top: 30px;
}
